video {
    width:100%;
}

body {
    background-color: #73a857;
}
.jumbotron {
    background-color: #73a857;
    color: #ffffff;
    
    padding-top: 0px;
}
#clipiiTitle{
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 90px;
}

.list-group-item {
    margin: 5px;
}

.list {
    margin-bottom: 40px;
}

.navbar-brand {
    color: #ffffff;
}